In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv('result1.csv')
dataset

,Name_File,Name_Evr,Name_Ens,Time,PSNR
0,area.png,DE,MetaheuristicEnsembleLearn,27.772500,30.714889
1,boat.png,DE,MetaheuristicEnsembleLearn,27.048620,53.006102
2,stream_and_bridge.png,DE,MetaheuristicEnsembleLearn,27.013496,42.653908
3,airplane.png,DE,MetaheuristicEnsembleLearn,26.778326,54.646203
4,goldhill.png,DE,MetaheuristicEnsembleLearn,27.631188,44.123331
...,...,...,...,...,...
175,goldhill.png,ACO,MetaheuristicEnsembleLearn,126.454137,42.774540
176,yacht.png,ACO,MetaheuristicEnsembleLearn,117.613410,46.221155
177,peppers.png,ACO,MetaheuristicEnsembleLearn,122.082257,47.050975
178,btr.png,ACO,MetaheuristicEnsembleLearn,123.006343,45.835434
179,baboon.png,ACO,MetaheuristicEnsembleLearn,118.413533,39.173009

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name_File  180 non-null    object
 1   Name_Evr   180 non-null    object
 2   Name_Ens   180 non-null    object
 3   Time       180 non-null    float64
 4   PSNR       180 non-null    float64
dtypes: float64(2), object(3)
memory usage: 7.2+ KB

In [5]:
print('Files:', pd.unique(dataset['Name_File']), '\n')
print('Name_Evr:', pd.unique(dataset['Name_Evr']))

Files: ['area.png' 'boat.png' 'stream_and_bridge.png' 'airplane.png'
 'goldhill.png' 'yacht.png' 'peppers.png' 'btr.png' 'baboon.png']

Name_Evr: ['DE' 'PSO' 'HHO' 'FBIO' 'GBO' 'IWO' 'ABC' 'BBO' 'CA' 'ACO']

In [16]:
dataset.mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8760/3008113021.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.mean()

Time    65.051849
PSNR    44.640940
dtype: float64

In [6]:
IWO = dataset[(dataset['Name_Evr'] == 'IWO')]
HHO = dataset[(dataset['Name_Evr'] == 'HHO')]
ABC = dataset[(dataset['Name_Evr'] == 'ABC')]
ACO = dataset[(dataset['Name_Evr'] == 'ACO')]
BBO = dataset[(dataset['Name_Evr'] == 'BBO')]
CA = dataset[(dataset['Name_Evr'] == 'CA')]
DE = dataset[(dataset['Name_Evr'] == 'DE')]
PSO = dataset[(dataset['Name_Evr'] == 'PSO')]
FBIO = dataset[(dataset['Name_Evr'] == 'FBIO')]
GBO = dataset[(dataset['Name_Evr'] == 'GBO')]

In [9]:
dataset.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8760/2472392906.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           65.414506  50.755772
area.png               63.660567  30.504880
baboon.png             65.080784  40.654752
boat.png               65.343530  53.011975
btr.png                65.443938  45.337861
goldhill.png           65.722928  41.914787
peppers.png            65.367981  50.419645
stream_and_bridge.png  64.554508  41.808877
yacht.png              64.877900  47.359908

In [10]:
dataset.groupby(['Name_Evr']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8760/3380517968.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['Name_Evr']).mean()

                Time       PSNR
Name_Evr
ABC        83.902081  43.477532
ACO       120.408293  43.380172
BBO        37.652026  45.482878
CA         26.878764  44.966626
DE         27.626507  45.610387
FBIO      121.613509  44.238382
GBO        52.271198  43.810252
HHO        28.754723  45.746120
IWO       115.745211  45.566621
PSO        35.666179  44.130425