In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import docx
%matplotlib inline

In [2]:
dataset = pd.read_csv('result2.csv')
dataset

,Name_File,Name_Evr,Name_Ens,Time,PSNR
0,area.png,DE_PSO,MetaheuristicEnsembleAlternation,35.449798,30.426402
1,area.png,DE_HHO,MetaheuristicEnsembleAlternation,32.966217,30.903838
2,area.png,DE_FBIO,MetaheuristicEnsembleAlternation,78.138278,31.117615
3,area.png,DE_GBO,MetaheuristicEnsembleAlternation,40.930869,30.121071
4,area.png,DE_IWO,MetaheuristicEnsembleAlternation,80.439326,30.122189
...,...,...,...,...,...
2425,baboon.png,ABC_CA,MetaheuristicEnsembleLearn,45.642544,40.404332
2426,baboon.png,ABC_ACO,MetaheuristicEnsembleLearn,79.906270,40.081768
2427,baboon.png,BBO_CA,MetaheuristicEnsembleLearn,32.255510,41.812548
2428,baboon.png,BBO_ACO,MetaheuristicEnsembleLearn,58.853055,39.528587
2429,baboon.png,CA_ACO,MetaheuristicEnsembleLearn,57.444319,40.452135

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name_File  2430 non-null   object
 1   Name_Evr   2430 non-null   object
 2   Name_Ens   2430 non-null   object
 3   Time       2430 non-null   float64
 4   PSNR       2430 non-null   float64
dtypes: float64(2), object(3)
memory usage: 95.1+ KB

In [4]:
print('Files:', pd.unique(dataset['Name_File']), '\n')
print('Ensembles:', pd.unique(dataset['Name_Ens']))

Files: ['area.png' 'boat.png' 'stream_and_bridge.png' 'airplane.png'
 'goldhill.png' 'yacht.png' 'peppers.png' 'btr.png' 'baboon.png']

Ensembles: ['MetaheuristicEnsembleAlternation' 'MetaheuristicEnsembleAvg'
 'MetaheuristicEnsembleLearn']

In [9]:
dataset.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/2472392906.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           71.091330  50.760873
area.png               70.017753  30.482820
baboon.png             70.632312  40.312903
boat.png               70.458677  52.972079
btr.png                70.919913  45.572439
goldhill.png           71.687181  41.785504
peppers.png            71.039602  50.420605
stream_and_bridge.png  70.021786  41.773400
yacht.png              71.230766  47.378955

In [5]:
ens_avg = dataset[(dataset['Name_Ens'] == 'MetaheuristicEnsembleAvg')]
ens_learn = dataset[(dataset['Name_Ens'] == 'MetaheuristicEnsembleLearn')]
ens_alt = dataset[(dataset['Name_Ens'] == 'MetaheuristicEnsembleAlternation')]

In [6]:
ens_avg.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/1910925870.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_avg.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           90.481985  50.102718
area.png               90.220553  30.406976
baboon.png             90.464111  39.700412
boat.png               88.909915  52.429375
btr.png                90.659623  45.118526
goldhill.png           91.038259  41.621535
peppers.png            90.012142  49.453424
stream_and_bridge.png  89.293065  41.208314
yacht.png              91.076103  46.307746

In [32]:
ens_learn.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/1821589737.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           57.554813  51.190781
area.png               56.546631  30.531588
baboon.png             57.087721  40.784190
boat.png               57.530232  53.419700
btr.png                57.587699  45.901446
goldhill.png           58.356310  41.840274
peppers.png            58.182254  51.092136
stream_and_bridge.png  56.940059  42.136825
yacht.png              57.986029  48.078214

In [8]:
ens_alt.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/235152563.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_alt.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           65.237192  50.989122
area.png               63.286075  30.509896
baboon.png             64.345103  40.454107
boat.png               64.935884  53.067163
btr.png                64.512416  45.697346
goldhill.png           65.666974  41.894702
peppers.png            64.924410  50.716255
stream_and_bridge.png  63.832233  41.975062
yacht.png              64.630166  47.750904

In [37]:
dataset.groupby('Name_Ens').mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/4222670833.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby('Name_Ens').mean()

                                       Time       PSNR
Name_Ens
MetaheuristicEnsembleAlternation  64.596717  44.783840
MetaheuristicEnsembleAvg          90.239528  44.038781
MetaheuristicEnsembleLearn        57.530194  44.997239

### MetaheuristicEnsembleAvg

In [23]:
ens_avg.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/449826558.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_avg.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

               Time       PSNR
Name_Evr
HHO_ACO   49.627640  45.872269
DE_HHO    36.560454  45.843008
PSO_HHO   36.361272  45.728327
HHO_CA    37.755458  45.595492
HHO_GBO   39.482915  45.455300
PSO_IWO   90.890757  45.239267
HHO_BBO   43.547258  45.182388

### MetaheuristicEnsembleLearn

In [24]:
ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/677110584.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

               Time       PSNR
Name_Evr
DE_HHO    27.968348  46.098312
PSO_HHO   32.988273  46.041714
HHO_BBO   32.919339  46.034017
HHO_ACO   45.749433  45.948778
DE_BBO    32.680379  45.846387
HHO_IWO   70.451190  45.841784
HHO_CA    25.636623  45.491818

### MetaheuristicEnsembleAlternation

In [39]:
ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/677110584.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

               Time       PSNR
Name_Evr
DE_HHO    27.968348  46.098312
PSO_HHO   32.988273  46.041714
HHO_BBO   32.919339  46.034017
HHO_ACO   45.749433  45.948778
DE_BBO    32.680379  45.846387
HHO_IWO   70.451190  45.841784
HHO_CA    25.636623  45.491818

In [41]:
ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR']).head(7)

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8964/1292014365.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR']).head(7)

               Time       PSNR
Name_Evr
GBO_ACO   68.454298  43.850682
GBO_ABC   60.278289  43.893694
PSO_ACO   56.924120  44.147984
PSO_ABC   49.470093  44.184430
FBIO_GBO  85.294539  44.285491
GBO_CA    39.177795  44.309252
ABC_CA    45.633432  44.353034