In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import docx

%matplotlib inline

In [3]:
dataset = pd.read_csv('result3.csv')
dataset

,Name_File,Name_Evr,Name_Ens,Time,PSNR
0,area.png,DE_PSO_HHO,MetaheuristicEnsembleAvg,43.816600,30.963004
1,area.png,DE_PSO_FBIO,MetaheuristicEnsembleAvg,100.528393,29.764028
2,area.png,DE_PSO_GBO,MetaheuristicEnsembleAvg,91.471637,30.316707
3,area.png,DE_PSO_IWO,MetaheuristicEnsembleAvg,84.863056,30.018062
4,area.png,DE_PSO_ABC,MetaheuristicEnsembleAvg,97.022600,30.501308
...,...,...,...,...,...
4315,baboon.png,IWO_CA_ACO,MetaheuristicEnsembleAlternation,85.232861,40.617390
4316,baboon.png,ABC_BBO_CA,MetaheuristicEnsembleAlternation,48.508402,41.053528
4317,baboon.png,ABC_BBO_ACO,MetaheuristicEnsembleAlternation,65.342422,40.347740
4318,baboon.png,ABC_CA_ACO,MetaheuristicEnsembleAlternation,61.850582,39.762059
4319,baboon.png,BBO_CA_ACO,MetaheuristicEnsembleAlternation,51.782292,40.470529

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4320 entries, 0 to 4319
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name_File  4320 non-null   object
 1   Name_Evr   4320 non-null   object
 2   Name_Ens   4320 non-null   object
 3   Time       4320 non-null   float64
 4   PSNR       4320 non-null   float64
dtypes: float64(2), object(3)
memory usage: 168.9+ KB

In [5]:
print('Files:', pd.unique(dataset['Name_File']), '\n')
print('Ensembles:', pd.unique(dataset['Name_Ens']))

Files: ['area.png' 'boat.png' 'stream_and_bridge.png' 'airplane.png'
 'goldhill.png' 'yacht.png' 'peppers.png' 'btr.png' 'baboon.png']

Ensembles: ['MetaheuristicEnsembleAvg' 'MetaheuristicEnsembleLearn'
 'MetaheuristicEnsembleAlternation']

In [15]:
dataset.groupby('Name_Ens').mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/4222670833.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby('Name_Ens').mean()

                                        Time       PSNR
Name_Ens
MetaheuristicEnsembleAlternation   64.128298  44.912688
MetaheuristicEnsembleAvg          105.951561  43.882688
MetaheuristicEnsembleLearn         57.097599  45.150084

In [10]:
dataset.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/2472392906.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           72.991191  50.992446
area.png               71.838911  30.568427
baboon.png             72.653776  40.469940
boat.png               72.581671  53.046635
btr.png                73.104198  45.574419
goldhill.png           73.918675  41.803566
peppers.png            73.302827  50.548001
stream_and_bridge.png  72.038003  41.841889
yacht.png              73.008698  47.585508

In [6]:
ens_avg = dataset[(dataset['Name_Ens'] == 'MetaheuristicEnsembleAvg')]
ens_learn = dataset[(dataset['Name_Ens'] == 'MetaheuristicEnsembleLearn')]
ens_alt = dataset[(dataset['Name_Ens'] == 'MetaheuristicEnsembleAlternation')]

In [7]:
ens_avg.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/3818070868.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_avg.groupby(['Name_File']).mean()

                             Time       PSNR
Name_File
airplane.png           105.966961  49.699057
area.png               105.015743  30.369033
baboon.png             106.388899  39.465128
boat.png               105.172887  52.418530
btr.png                106.477822  44.973764
goldhill.png           106.365791  41.408255
peppers.png            106.825244  49.278129
stream_and_bridge.png  105.591328  41.056741
yacht.png              105.759372  46.275553

In [8]:
ens_learn.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/1821589737.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           57.479420  51.570891
area.png               56.191241  30.705631
baboon.png             56.552933  41.104342
boat.png               56.899539  53.466880
btr.png                57.179664  45.912168
goldhill.png           58.576793  42.060123
peppers.png            57.386112  51.015902
stream_and_bridge.png  55.970805  42.260452
yacht.png              57.641884  48.254364

In [9]:
ens_alt.groupby(['Name_File']).mean()

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/235152563.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_alt.groupby(['Name_File']).mean()

                            Time       PSNR
Name_File
airplane.png           64.259192  51.349918
area.png               63.074331  30.599521
baboon.png             63.836636  40.655144
boat.png               64.127129  53.150565
btr.png                64.379653  45.705872
goldhill.png           65.366057  41.872944
peppers.png            64.499975  50.948986
stream_and_bridge.png  63.294939  42.025181
yacht.png              64.316767  47.906058

In [16]:
ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/677110584.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR'], ascending=False).head(7)

                   Time       PSNR
Name_Evr
DE_HHO_FBIO   60.209665  46.213547
HHO_GBO_IWO   73.723344  46.207675
HHO_ABC_BBO   40.680344  46.206761
FBIO_IWO_BBO  77.391429  46.139050
PSO_HHO_BBO   33.065264  46.138906
DE_HHO_ABC    42.076043  46.131626
HHO_FBIO_IWO  86.745588  46.008507

In [18]:
ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR']).head(7)

/var/folders/1j/287nr9g51b128plm6r3b3dsh0000gn/T/ipykernel_8996/1292014365.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ens_learn.groupby('Name_Evr').mean().sort_values(by=['PSNR']).head(7)

                   Time       PSNR
Name_Evr
DE_FBIO_GBO   65.714978  43.722375
PSO_FBIO_GBO  67.883045  43.921033
PSO_GBO_CA    34.409986  44.026282
DE_PSO_GBO    40.615302  44.042831
GBO_ABC_ACO   70.149182  44.074202
DE_CA_ACO     51.451969  44.102797
PSO_FBIO_ACO  74.289392  44.108621